:root {
  --primary: #6441a5;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  --inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--greyLight-1);
  font-family: "Helvetica", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: top;
  /* margin-bottom: 70px; */
}


#title_box {
  text-align: center;
  margin-top:10px;
}

#application {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  border-radius: 1rem;
	box-shadow: var(--shadow);
	margin-top: 30px;
  background: var(--greyLight-1);
  color: var(--primary);
  width: 60vmin;
  /* height: 30vmin; */
}

#usr_input {
  width: 100%;
  height: 10vmin;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background: transparent;
}

input{
  width: 100%;
	height: 7.5vmin;
	border: none;
	border-radius: 1rem;
	outline: none;
	font-size: 3vmin;
	box-shadow: var(--inner-shadow);
	background: var(--greyLight-1);
	color: var(--primary);
	caret-color: var(--primary);
  text-align: center;
  margin-left: 15px;
  margin-bottom: 10px;
  margin-right: 20px;
}

button { 
  width: 30vmin;
	height: 7.5vmin;
	border-radius: 0.5rem;
  border: none;
	box-shadow: var(--shadow);
	margin-right: 15px;
  margin-bottom: 10px;
	cursor: pointer;
  background: var(--greyLight-1);
  color: var(--primary);
  font-size: 2.5vmin;
  font-weight: bold;

}

#output{
  width: 100vmin;
  height: 40vmin;

  border: none;
	border-radius: 1rem;
	outline: none;
	box-shadow: var(--inner-shadow);
	background: var(--greyLight-1);
	color: var(--primary);
	caret-color: var(--primary);
  /* padding-bottom: 150px; */
  /* margin-bottom: 70px; */
  
}

#footer {
  bottom: 0;
  width: 100%;
  height: 10vmin;
  /* position: fixed; */
  clear: both;
  text-align: center;
  overflow: hidden;
  background: var(--greyLight-1);
}

svg {
  width: 100%;
  height: 100%;
  fill: var(--primary);
  border-radius: 1rem;
}

.top_part {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.info { 
  border: none;
  border-radius: 1rem;
	box-shadow: var(--shadow);
	margin-left: 30px;
  margin-top: 10px;
  background: var(--greyLight-1);
  color: var(--primary);
  width: 15vmin;
  padding: px;
}





