@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

:root {
  --primary: #6441a5;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  --inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}

@font-face {
	font-family: 'Helvetica-Neue';
	src: url('/HelveticaNeueLTCom-Bd.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: var(--greyLight-1);
  font-family: "Helvetica-Neue", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#webapp {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: top;
  /* margin-bottom: 70px; */
}

#title_box {
  text-align: center;
  margin-top: 10px;
}

#application {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  margin-top: 30px;
  background: var(--greyLight-1);
  color: var(--primary);
  width: 70vmin;
  /* height: 30vmin; */
}

#usr_input {
  width: 100%;
  height: 10vmin;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background: transparent;
}

input {
  width: 100%;
  height: 7.5vmin;
  border: none;
  border-radius: 1rem;
  outline: none;
  font-size: 3vmin;
  box-shadow: var(--inner-shadow);
  background: var(--greyLight-1);
  color: var(--primary);
  caret-color: var(--primary);
  text-align: center;
  margin-left: 15px;
  margin-bottom: 10px;
  margin-right: 20px;
}

button {
  width: 20vmin;
  height: 7.5vmin;
  border-radius: 0.5rem;
  border: none;
  box-shadow: var(--shadow);
  margin-right: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  background: var(--greyLight-1);
  color: var(--primary);
  font-size: 2.5vmin;
  font-weight: bold;
}

#output {
  width: 100vmin;
  height: 40vmin;

  border-radius: 1rem;
  box-shadow: var(--inner-shadow);
  background: var(--greyLight-1);
  color: var(--primary);
  caret-color: var(--primary);
}

#footer {
  bottom: 0;
  width: 100%;
  height: 10vmin;
  /* position: fixed; */
  clear: both;
  text-align: center;
  /* overflow: hidden; */
  background: var(--greyLight-1);
}

svg {
  width: 100%;
  height: 100%;
  fill: var(--primary);
  border-radius: 0.9rem;
}

.top_part {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#about {
  width: 55vmin;
  height: 80vmin;
  margin: 20px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 0.5rem;
  border: none;
  box-shadow: var(--shadow);
  cursor: pointer;
  background: var(--greyLight-1);
  color: var(--primary);
  font-size: 2vmin;
  font-weight: bold;
  /* font-family set to Helvetica-Neue */
  font-family: "Helvetica-Neue", sans-serif;
}
